{% extends 'core/menu_page.html' %}
{% load static %}

{% block index_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>PizzaTime!</title>
{% endblock %}


{% block index_content %}

    <!-- <div class="btn">CLICK !</div> -->
    <script src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'core/js/javascript.js' %}"></script>
{% endblock %}