{% extends 'core/base.html' %}
{% load static %}


{% block head %}
    {% block index_head %}
    {% endblock %}
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
    <div class="mainPanel">
        <div class="centering">
            <div class="mainLogo">
                <img src="{% static 'core/images/logo.png' %}" alt="">
            </div>
            <div class="innerFlexVam">
                <div class="mainLocation">Укажите ваш город. . .</div>
            </div>
            <div class="innerFlexVam">
                <div class="mainMenu">
                    <div class="menuIconBurger"></div>
                </div>
            </div>
        </div>


        <!-- товары -->
        {% for product in products %}
            <!-- div продукта -->
            <div>
                <div>{{ product.title }}</div>
                <div>{{ product.description }}</div>
                <div>{{ product.price }}</div>
                <div>{{ product.image }}</div>
                <!--<div>{{ product.category }}</div>-->
                <button>В корзину</button>
            </div>
        {% endfor %}

        <div class="centering none">
            <div class="mainLogo">
                <img src="{% static 'core/images/logo.png' %}" alt="">
            </div>
                <div class="burgerChapters">
                    <div class="burgerChaptersInner">
                        <!-- по дефолту меню должно быть выбрано как активная вкладка -->
                        <div class="pageMenu"><a href="#" id="couldGreen">Меню</a></div>
                        <!--<div class="pageMenu"><a href="#" id="couldGreen">Акции</a></div>-->
                        <div class="pageBonus"><a href="#" id="couldGreen">Бонусы</a></div>
                        <div class="pageContacts"><a href="#" id="couldGreen">Контакты</a></div>

                        <!-- если пользователь не авторизован -->
                        {% if not request.session.keys and form_action == 'auth' %}
                            <div class="log_in-Btn"><span>ВХОД</span></div>
                        {% elif request.session.keys %}
                            <div class="log_in-Btn log_in-Btn_exit-from-account"><a href="{% url 'logout' %}"><span>ВЫЙТИ</span></a></div>
                        {% endif %}
                        {% if form_action == 'auth' %}
                            <div class="log_in-form">
                                <div class="log_in-IconCross">&#9587;</div>
                                <form action="{% url 'auth' %}" method="post" id="log_in-form">
                                    {% csrf_token %}
                                    <div>{{ auth_error }}</div>
                                    <span>Телефон: </span><div class="phoneNumber"><span class="plusSeven">+7</span>{{ form.phone }}</div>
                                    <span>Пароль: </span><div>{{ form.password }}</div>
                                    <!-- ссылка ведущая на главную страницу с формой регистрации -->
                                    <a href="{% url 'index' %}?form=reg">Ещё нет аккаунта?</a>
                                    <button type="submit" class="">Войти</button>
                                </form>
                            </div>

                        {% else %}
                            <!-- форма регистрации -->
                            <div class="log_in-Btn"><span href="{% url 'index' %}">Регистрация</span></div>
                            <div class="log_in-form">
                                <div class="log_in-IconCross">&#9587;</div>
                                <form action="{% url 'reg' %}" method="post">
                                    {% csrf_token %}
                                    {% for validation_error in validation_errors %}
                                        {{ validation_error }}
                                    {% endfor %}
                                    <span>Имя: </span><div>{{ form.firstname }}</div>
                                    <span>Фамилия: </span><div>{{ form.secondname }}</div>
                                    <span>Телефон: </span><div class="phoneNumber"><span class="plusSeven">+7</span>{{ form.phone }}</div>
                                    <span>Пароль: </span><div>{{ form.password }}</div>
                                    <span>Повторите пароль: </span><div>{{ form.password_repeat }}</div>
                                    <a href="{% url 'index' %}">Войти</a>
                                    <button type="submit" class="">Зарегистрироваться</button>
                                    <!-- ссылка ведущая на главную страницу с формой авторизации -->
                                </form>
                            </div>
                        {% endif %}
                        
                    </div>

                    <!-- форма авторизации -->
                    
                    

                </div>
            <div class="innerFlexVam">
                <div class="mainMenu">
                    <div class="menuIconCross">&#9587;</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mainChapters">
        <div class="pizzaChapter"></div>
        <div class="drinkablesChapter"></div>
    </div>

    <div class="mainBlock">
        <div class="mainProduct">
            <div class="product pizza">
                <img src="" alt="">
                <div class="san">pizza 1</div>
                <button class="">Добавить в корзину</button>
            </div>
            <div class="product pizza">
                <img src="" alt="">
                <div class="">pizza 2</div>
                <button class="">Добавить в корзину</button>
            </div>
            <div class="product pizza">
                <img src="" alt="">
                <div class="">
                    <div class="pizzaTitle"></div>
                    <div class="pizzaSubtitle"></div>
                    <!-- <div class=""></div> сделать переключатель -->
                    <div class="pizzaCrust"></div>
                </div>
                <button class="">Добавить в корзину</button>
                <div class="pizzaPrice"></div>
            </div>
        </div>
        <div class="mainBasket">
            <div class="mainBasketInner">
                <img src="../../static/core/images/basket-icon.jpg" alt="">
                <div class="products-in-basket"></div>
                <div class="basket_buy-button">Купить</div>
            </div>
        </div>
    </div>
    {% block index_content %}
    {% endblock %}

{% endblock %}



{% block footer %}
{% endblock %}
