{% extends 'core/base.html' %}
{% load static %}


{% block head %}
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
    <!-- способ получения -->
    <button name="delivery">Delivery</button>
    <button name="pickup">Pickup</button>
    <!-- способ оплаты -->
    <button name="Card">Card</button>
    <button name="cash">Cash</button>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Оплатить/заказать</button>
    </form>

{% endblock %}


{% block footer %}
{% endblock %}